---
type Props = {};

const {} = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-4">
  <a href="/">
    <img src="/images/logo.svg" class="w-1/2" alt="" />
  </a>
  <div class="hidden md:block">
    <h3>SERVICIOS</h3>
    <ul class="text-white text-[14px] list-disc">
      <li>Topografia</li>
      <li>Diseño Arquitectonico</li>
      <li>Diseño de Interiores</li>
      <li>Diseño Urbano</li>
      <li>Plano de Decoracion</li>
    </ul>
  </div>
  <div class="hidden md:block">
    <h3>NOSOTROS</h3>
    <ul class="text-white text-[14px] list-disc">
      <li>Topografia</li>
      <li>Diseño Arquitectonico</li>
      <li>Diseño de Interiores</li>
      <li>Diseño Urbano</li>
      <li>Plano de Decoracion</li>
    </ul>
  </div>
  <div class="hidden md:block">
    <h3>PREGUNTAS FRECUENTES</h3>
    <ul class="text-white text-[14px] list-disc">
      <li>Topografia</li>
      <li>Diseño Arquitectonico</li>
      <li>Diseño de Interiores</li>
      <li>Diseño Urbano</li>
      <li>Plano de Decoracion</li>
    </ul>
  </div>
</div>

<style></style>
