.carousel-container {
    position: relative;
    margin: auto;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
  }
  
  
  